html {
	height: 100%;
	background-color: black;
}

body {
	background-color: black;
	min-height: 100%;
	display: flex;
	justify-content: center;
	align-content: center;
	margin:  0px;
}

#cumbia-button {
	align-self: center;
	font-size: 300%;
	height: 15%;
	width: 50%;
}

#dubstep-video {
	width: 100%;
}